$titlesize: 35px;
$captionsize: 18px;
$titlecolor: #FFE500;
$blockpadding: 20px;
$button-bg: #FF8225;
$button-bg-active: #854413;

.homepage {
    margin: 30px 20px;
}

.homeintro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 25px;

    h1 {
        flex: 1;
        margin-right: 20px;
        text-align: center;
        font-size: 50px;
        max-width: 50%;
    }

    img {
        flex: 1;
        max-width: 25%;
        height: auto;
    }
}

.homeourstory {
    display: flex;
    flex-wrap: wrap;
    padding: $blockpadding;
    margin-bottom: 30px;

    h1 {
        font-size: $titlesize;
        color: $titlecolor;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    p {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        font-size: $captionsize;
    }

    a {
        background-color: $button-bg;
        border-radius: 15px;
        padding: 10px 15px;
        font-weight: 600;
        text-align: center;
        display: inline-block;

        &:active {
            background-color: $button-bg-active;
        }
    }
}

.enquirebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.homeproducts {
    display: flex;
    flex-wrap: wrap;

    h1 {
        width: 100%;
        text-align: center;
        color: $titlecolor;
        font-size: $titlesize;
    }
}

.homeproductspics{
    width: 100%;
    border-radius: 30px;
}

// Medium screen and above
@media (max-width: 768px) {
    .homepage {
        .homeintro{
            h1{
                font-size: 30px;
                width: 100%;
                max-width: 100%;
            }
        }

        .homeourstory{
            h1{
                font-size: 26px;
            }
            p{
                font-size: 16px;
            }
            .enquirebutton{
                a{
                    font-size: 16px;
                }
            }
        }

        .homeproducts{
            h1{
                font-size: 26px;
            }
        }
    }
}